.navbar{
    display: flex;
    color: white;
    background-color: transparent;
    align-items: center;
    flex-wrap: wrap; 
    position: fixed;
    width: 100%;
}
.active{
    background-color: aliceblue;
    color: black;
}
.nav-left{
    display: flex;
    flex:0.4;
    justify-content: center;
    align-items: center;
    
}
.nav-left>a >p {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-right{
    display: flex;
    flex: 0.7;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
    
}
.nav-right>a >p  {
    cursor: pointer;
    display: flex;
    align-items: center;
}




